.metadata
.gradle
bin/
tmp/
log/
logs/
*.tmp
*.log
*.svn/
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.classpath
.buildpath
.target
target/
.idea/
*.iml
dependency-reduced-pom.xml
ConfigCenter_*
/test-output
*.log

